<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dashboard.css">
    <script src="https://kit.fontawesome.com/f68b66d5c5.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>

<body>

    <!-- navigation bar in left side  -->
    <!-- <div id="loading">
            <img src="./images/geniegif.gif" alt="Genie" class="genie">
            <script src="./website javascript/loading.js"></script>
        </div> -->
    <div class="nav">
        <ul class="ulnth">
            <li><a class="select" href="/dashboard"><img class="icon"
                        src="https://cdn-icons-png.flaticon.com/512/9055/9055096.png">᲼᲼Dashboard</a></li>
            <div style="display: none;">

                <li><a href="/projects"><img class="icon"
                            src="https://cdn-icons-png.flaticon.com/512/1001/1001259.png">᲼᲼Projects</a></li>
                <li><a href="/notification"><img class="icon"
                            src="https://cdn-icons-png.flaticon.com/512/9187/9187534.png">᲼᲼Notification</a></li>
                <li><a href="/share"><img class="icon"
                            src="https://cdn-icons-png.flaticon.com/512/3925/3925158.png">᲼᲼Share</a></li>
                <li><a href="/trash"><img class="icon"
                            src="https://cdn-icons-png.flaticon.com/512/9350/9350278.png">᲼᲼Trash</a></li>
                <li><a href="/help"><img class="icon"
                            src="https://cdn-icons-png.flaticon.com/512/4212/4212339.png">᲼᲼Help</a></li>
            </div>
            <li><a class="account" href="/account"><img class="icon"
                        src="https://cdn-icons-png.flaticon.com/512/9692/9692175.png">᲼᲼Account</a></li>
        </ul>
    </div>


    <!-- main content in left side -->

    <div class="content">

        <!-- a button in which type create ppt -->

        <div class="create" style="margin-top: 6%;">
            <a class="create-btn" href="/generate">Create PPT</a>
        </div>

        <div class='template' style="display: none;">
            <h1>Choose Template</h1>
            <p>____________________________________________________________________________________________________________________________________________
            </p>
            <a href="https://cdn.discordapp.com/attachments/777919148985810945/1098111427899826207/Rectangle.png"><img
                    src="https://cdn.discordapp.com/attachments/777919148985810945/1098111427899826207/Rectangle.png"
                    alt=""></a>
            <h4>Template 1</h4>


        </div>


</body>

</html>
