<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Help.css">
    <script src="https://kit.fontawesome.com/f68b66d5c5.js" crossorigin="anonymous"></script>
    <title>Help</title>
</head>
<body>

    <!-- navigation bar in left side  -->

    <div class="nav">
        <ul>
            <li><a href="/dashboard"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/9055/9055096.png">᲼᲼Dashboard</a></li>
            <li><a href="/projects"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/1001/1001259.png">᲼᲼Projects</a></li>
            <li><a href="/notification"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/9187/9187534.png">᲼᲼Notification</a></li>
            <li><a href="/share"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/3925/3925158.png">᲼᲼Share</a></li>
            <li><a href="/trash"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/9350/9350278.png">᲼᲼Trash</a></li>
            <li><a class="select" href="/help.html"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/4212/4212339.png">᲼᲼Help</a></li>
            <li><a class="account" href="/account"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/9692/9692175.png">᲼᲼Account</a></li>    
        </ul>
    </div>


    <!-- main content in left side -->

    <div class = "content">
        
    <!-- a button in which type create ppt -->

        

        <div class = 'template'>
            <h1>Help</h1>
            <p>____________________________________________________________________________________________________________________________________________</p>
            <h3>Need help?</h3>
            
        
        </div>
    
    </div>
</body>
</html