<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <!-- slow connection of internet -->
    <script src="./website javascript/slowinternetconnection.js"></script>
    <script src="https://kit.fontawesome.com/f68b66d5c5.js" crossorigin="anonymous"></script>
    <div id="loading">
        <img src="./images/geniegif.gif" alt="Genie" class="genie">
        <script src="./website javascript/loading.js"></script>
    </div>
</div>
    <nav style="z-index: 1;">
        <a href="#" class="logo">
            <img src="./images/genslides lgo.png" alt="Logo">
            
            <span class="logo-title">GenieSlides</span>
        </a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#homeabt">About Us</a></li>
            <li><a href="/blog1">Blogs</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <div class='home_screen'>
        <h1>Generate PPT using AI</h1>
        <p>Effortlessly Engaging: The Power of Automated Presentations</p>

        <a class="create-btn" href="/generate">Create PPT</a>
    </div>


    <div class="home_about" id="homeabt">
        <h1>Revolutionize Your Presentations <br> with AI-Powered Multilingual <br> PPT Creation!</h1>
        <p>AI-powered multilingual PPT creation is a game-changing <br> tool for anyone looking to create compelling
            presentations quickly <br> and efficiently. With the power of AI, this technology can automatically
            <br>translate your presentation into multiple languages, allowing<br> you to reach a wider audience with
            ease.Additionally, it can suggest <br> design layouts, images, and charts, making your presentation more<br>
            engaging and professional-looking. This tool will revolutionize <br>the way you approach presentations,
            saving you time and effort<br> while also improving their quality and effectiveness.</p>

        <h1>Revolutionize Your Presentations<br> with 98% Accuracy</h2>
            <p>Automated PowerPoint presentation generation is an innovative <br>technology that has the potential to
                revolutionize the way we<br> approach presentations. With 98% accuracy, this tool can automatically
                <br>create professional-looking presentations that are customized to <br>your needs. This technology not
                only saves you time and effort, but also<br> improves the quality of your presentations by suggesting
                design<br> layouts, images, and charts based on the content of your presentation.<br> With the power of
                automation, you can focus on delivering a<br> compelling message and leave the rest to the technology.
                <br>With 98% accuracy, you can trust that your presentations will be <br>flawless and engaging every
                time.</p>

            <h1>Unleash Your Creativity: Personalize <br>Your Presentations with Automated<br> PowerPoint Customization
                </h2>
                <p>Personalizing your presentations is a great way to make<br> your website content more engaging and
                    effective. Automated<br> PowerPoint customization tools can help you achieve this with minimal
                    <br>effort.By integrating these tools into your website, you can create <br>dynamic and personalized
                    presentations that adjust to your audience's <br> needs and preferences. You can use data on your
                    visitors' demographics,<br> browsing behavior, and interests to generate custom slides, layouts, and
                    content.</p>
        <script>
            window.onload = function () {
                    document.body.classList.add('loaded');
                }
        </script>
    </div>
    <div class="footer_home">
        <footer>
            <ul>
                <img src="./images/geneslides white logo.png" alt="Logo">
                <a class="logo-title">GenieSlides</a>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy; 2023 Genieslides.com</p>
        </footer>
    </div>


</body>


</html>