<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Policies</title>
    <link rel="stylesheet" href="term.css">

    
</head>
<body>
            <div id="loading">
                <img src="./images/geniegif.gif" alt="Genie" class="genie">
                <script src="./website javascript/loading.js"></script>
            </div>
    <div class="title_terms">
        <img src="../public/images/genslides lgo.png" alt="logo">
        <h1>GenieSlides</h1>
    </div>
    <hr>
    <div class="terms">
        <h1>Terms & Policies</h1>
        <h2>1. Introduction</h2>
        <p>
        
        Welcome to GenieSlides, an innovative and automated PowerPoint generation service that is designed to simplify the
        process of creating professional-grade presentations. With our cutting-edge AI technology, users can easily generate
        PowerPoint presentations with minimal effort and time, making it the perfect solution for busy professionals and
        students who need to create presentations quickly and efficiently.
        </p>

        <p>
            Our service leverages advanced algorithms and machine learning techniques to automatically create customized PowerPoint
            presentations that are tailored to the user's specific needs. Users simply need to provide the title of their
            presentation, and our AI technology will do the rest, generating a polished and professional-looking PowerPoint
            presentation in just a matter of seconds.
        </p>

        <p>
            At GenieSlides, we are committed to delivering a seamless and hassle-free experience to our users, allowing them to
            focus on the content of their presentation rather than the design and layout. Our service is ideal for a wide range of
            users, including students, teachers, business professionals, and anyone else who needs to create compelling and
            effective PowerPoint presentations.
        </p>

        <p>
            Whether you need to create a presentation for a school project, a business meeting, or a conference, GenieSlides can
            help you achieve your goals with ease. Our service is easy to use, affordable, and efficient, making it the perfect
            solution for anyone who needs to create professional-grade PowerPoint presentations quickly and easily.
        </p>

        <p>
            We take great pride in offering a high-quality service that is backed by our team of dedicated and experienced
            professionals who are passionate about helping our users succeed. Our commitment to quality, innovation, and excellence
            is what sets us apart from our competitors, and we strive to exceed our users' expectations every step of the way.
        </p>
        
        <p>
            Thank you for choosing GenieSlides, and we look forward to helping you create exceptional PowerPoint presentations that
            will impress and inspire your audience.
        </p>   

        <h2>
            2. Description of Service
        </h2>

        <p>
            GenieSlides is an AI-powered platform that allows users to create professional-grade PowerPoint presentations quickly
            and easily. Our service utilizes advanced algorithms and machine learning techniques to analyze the content provided by
            the user and generate a high-quality PowerPoint presentation based on the input.
        </p>

        <p>
            To use our service, users simply need to provide the title of the presentation and any other relevant information, such
            as bullet points or images. The GenieSlides platform will then analyze the input and generate a PowerPoint presentation
            that is optimized for readability and visual appeal.
        </p>

        <p>
            Our service includes a range of features designed to make the presentation creation process as smooth and efficient as
            possible. These features include:<br>
                <br>
            • Customizable templates: Users can choose from a variety of professionally-designed templates, each optimized for
              different types of content and presentation styles.<br>
                <br>
            • AI-powered design suggestions: The GenieSlides platform uses machine learning algorithms to suggest design elements that
              will enhance the visual appeal of the presentation, such as color schemes, font choices, and layout options.<br>
                <br>
            • Image search: Our service includes an integrated image search function that allows users to easily find and add relevant
              images to their presentations.<br>
                <br>
            • Easy sharing: Once the presentation has been generated, users can easily share it with others via email, social media,
              or other channels.<br>
        </p>

        <p>
            At GenieSlides, we are committed to providing our users with the highest quality service possible. Our team of experts
            is constantly working to improve and enhance our platform to ensure that our users can create presentations that are
            engaging, informative, and visually appealing.
        </p>
        <p>
            By using our service, you acknowledge and agree that while we make every effort to ensure the accuracy and quality of
            the presentations generated by our platform, we cannot guarantee that every presentation will be error-free or meet your
            specific needs or requirements. You agree to use the service at your own risk and to indemnify and hold GenieSlides
            harmless from any claims or damages arising out of your use of the service.
        </p>

        <h2>
            3. Privacy Policy
        </h2>

        <p>
            At GenieSlides, we take the privacy of our users very seriously. This privacy policy outlines the types of information
            we collect from users, how we use that information, and what steps we take to ensure that user data is safe and secure.
        </p>
        <p>
            a. Information we collect:<br>
            When you sign up for our service, we collect certain personal information such as your name, email address, and payment
            information. We also collect information about your use of our service, such as the presentations you create, the date
            and time of your sessions, and your IP address.
        </p>
        <p>
            b. How we use your information:<br>
            We use the information we collect from users to provide our service and to improve and enhance our platform. We may also
            use your information to communicate with you about updates, promotions, or other service-related matters.
        </p>
        <p>
            c. How we protect your data:<br>
            We take a number of steps to ensure that user data is safe and secure. These steps include the use of encryption to
            protect sensitive information, regular security audits, and limited access to user data by our staff. We also follow
            industry-standard best practices for data security and privacy.
        </p>
        <p>
            d. Sharing of information:<br>
            We do not share user information with third parties, except as required by law or as necessary to provide our service.
            We may share anonymized data with third parties for research or analytics purposes.
        </p>
        <p>
            e. Cookies:<br>
            We use cookies to enhance your user experience and to improve the functionality of our service. Cookies are small data
            files that are stored on your device when you use our service. You can disable cookies in your browser settings if you
            prefer not to use them.
        </p>
        <p>
            f. Children's Privacy:<br>
            Our service is not intended for use by children under the age of 13, and we do not knowingly collect personal
            information from children under the age of 13.
        </p>

        <p>
            By using our service, you acknowledge and agree to this privacy policy. If you have any questions or concerns about our
            privacy practices, please contact us at <a href="mailto:privacy@genieslides.com">privacy@genieslides.com</a>.
        </p>
        <h2>
            4. User Obligations
        </h2>

        <p>
            By using the GenieSlides platform, you agree to the following obligations:
            </p>
        <p>
            a. Accurate and lawful use:<br>
            You agree to use our service only for lawful purposes and to provide accurate and complete information when using our
            service. You agree not to use our service to create presentations that violate any laws, infringe on the rights of third
            parties, or promote illegal activities.
        
        </p>

        <p>
            b. Prohibited content:<br>
            You agree not to use our service to create presentations that contain any of the following types of content: hate
            speech, discriminatory content, pornographic or sexually explicit material, or content that is defamatory or harmful to
            others.
        </p>
        
        <p>
            c. Respect for intellectual property:<br>
            You agree to respect the intellectual property rights of others and to only use content that you have the right to use.
            You agree not to use copyrighted material without permission, and to attribute any third-party content used in your
            presentations.
        </p>    

        <p>
            d. User-generated content:<br>
            You agree that any content you create using our service, including presentations and other materials, is your own
            original work or is content that you have permission to use. You also agree to grant us a non-exclusive, worldwide,
            royalty-free license to use, modify, and distribute your content for the purpose of providing our service.
        </p>    

        <p>
            e. Confidentiality:<br>
            You agree to keep your login credentials and any other sensitive information related to your use of our service
            confidential. You agree not to share your login credentials with anyone else or to allow others to use your account.
        </p>    

        <p>
        f. Compliance with laws:<br>
        You agree to comply with all applicable laws, regulations, and policies related to your use of our service, including
        but not limited to data protection and privacy laws.
            </p>

        <p>
            g. Indemnification:<br>
            You agree to indemnify and hold GenieSlides, its affiliates, and its officers, directors, employees, and agents harmless
            from any claims, damages, or liabilities arising out of your use of our service, including but not limited to any
            violations of these User Obligations.
        </p>    

        <p>
        By using our service, you acknowledge and agree to these User Obligations. Failure to comply with these obligations may
        result in termination of your account and/or legal action.

        </p>


        <h2>
            5. Intellectual Property
        </h2>

        <p>
            At GenieSlides, we respect the intellectual property rights of others and expect our users to do the same. This section
            outlines the policies and procedures we have in place to protect intellectual property.
        </p>
        
        <p>
            a. Ownership of user-generated content:<br>
            You own the intellectual property rights to any content you create using our service. You grant us a non-exclusive,
            worldwide, royalty-free license to use, modify, and distribute your content for the purpose of providing our service. We
            will not claim ownership of your content.
        </p>

        <p>
            b. Ownership of GenieSlides content:<br>
            GenieSlides owns all rights, title, and interest in and to the content, graphics, logos, trademarks, and other materials
            on our platform. You may not use, reproduce, distribute, or modify our content without our prior written consent.
        </p>

        <p>
            c. Third-party content:<br>
            You may use third-party content in your presentations only if you have the right to do so. You may not use copyrighted
            material without permission, and you agree to attribute any third-party content used in your presentations.
        </p>

        <p>
            d. Reporting intellectual property violations:<br>
            If you believe that your intellectual property rights have been violated by a GenieSlides user, please contact us at
            <a href="mailto:legal@genieslides.com">legal@genieslides.com</a>. We will investigate the claim and take appropriate action, which may include removing the
            infringing content and terminating the user's account
        </p>
        
        <p>
            e. DMCA policy:<br>
            We comply with the Digital Millennium Copyright Act (DMCA) and have procedures in place for handling claims of copyright
            infringement. If you believe that your copyrighted work has been infringed on our platform, please contact us at
            <a href="mailto:legal@genieslides.com">legal@genieslides.com</a> and include the following information: (i) a physical or electronic signature of the copyright
            owner or a person authorized to act on their behalf; (ii) a description of the copyrighted work that you claim has been
            infringed; (iii) a description of the infringing activity and where it occurred on our platform; (iv) your contact
            information, including your address, telephone number, and email address; (v) a statement by you that you have a good
            faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its
            agent, or the law; and (vi) a statement by you that the information in your notice is accurate and that you are the
            copyright owner or authorized to act on the copyright owner's behalf.
        </p>    

        <p>
        By using our service, you acknowledge and agree to these Intellectual Property policies. Failure to comply with these
        policies may result in termination of your account and/or legal action.
        </p>

        <h2>
            6. Payment and Billing
        </h2>

        <p>
            At GenieSlides, we offer paid memberships to access additional features and presentations beyond the initial free trial.
            This section outlines our payment and billing policies.
        </p>

        <p>
            a. Membership plans:<br>
            We offer various membership plans with different levels of access and pricing. The details of each plan are outlined on
            our website. By signing up for a membership plan, you agree to pay the applicable fees for the plan you have chosen.
        </p>

        <p>
        b. Billing:<br>
        We use third-party payment processors to handle all billing and invoicing. By signing up for a membership plan, you
        agree to provide accurate and complete billing information, including your name, billing address, and credit card
        information. We will charge your credit card or other payment method on a recurring basis for the duration of your
        membership, unless you cancel or change your membership.
            </p>

        <p>
            c. Refunds:<br>
            We offer a 14-day money-back guarantee for new members who are not satisfied with our service. If you cancel your
            membership within 14 days of signing up, we will provide a full refund. After the 14-day period, we do not offer refunds
            for any reason.
        </p>

        <p>
            d. Price changes:<br>
            We reserve the right to change our pricing at any time, but we will notify you of any price changes before they take
            effect. If you do not agree to the new pricing, you may cancel your membership before the new pricing takes effect.
        </p>

        <p>
            f. Taxes:<br>
            You are responsible for paying any applicable taxes on your membership fees, as required by law.
        </p>

        <p>
            By signing up for a membership plan, you acknowledge and agree to these Payment and Billing policies. Failure to comply
            with these policies may result in termination of your account and/or legal action.
            </p>
        

        <h2>
            7. Limitation of Liability
        </h2>

        <p>
        GenieSlides is a provider of automated presentation services that utilizes artificial intelligence to generate
        Powerpoint slides. By using our service, you agree to the following limitations of liability:
        </p>

        <p>
            a. Service Limitations:<br>
            We make every effort to ensure the accuracy and functionality of our service, but we cannot guarantee that our service
            will be uninterrupted, error-free, or completely accurate. We are not liable for any damages or losses resulting from
            the use of our service, including but not limited to, lost profits, loss of data, or any direct, indirect, incidental,
            or consequential damages.
        </p>    

        <p>
            b. Third-party Content:<br>
            Our service may include links or access to third-party websites or content. We are not responsible for the accuracy,
            legality, or appropriateness of any third-party content or for any damages or losses resulting from the use of such
            content.
        </p>

        <p>
            c. User-generated Content:<br>
            Our service may allow users to upload or create content, such as titles or themes, that may be included in generated
            presentations. We are not responsible for the accuracy or appropriateness of such content and are not liable for any
            damages or losses resulting from the use of such content.
        </p>

        <p>
            d. Indemnification:<br>
            You agree to indemnify and hold GenieSlides, its affiliates, and their respective officers, directors, employees, and
            agents harmless from any and all claims, damages, expenses, and liabilities arising from your use of our service,
            including but not limited to, any user-generated content, breach of these terms and conditions, or infringement of any
            third-party rights.
        </p>  
        
        <p>
        e. Limitation of Liability:<br>
        Our liability is limited to the amount paid by you for our service, and we are not liable for any indirect, incidental,
        or consequential damages.
        </p>

        <p>
            By using our service, you acknowledge and agree to the limitations of liability set forth in this section. If you do not
            agree to these limitations, you should not use our service.
        </p>   

        <h2>
            8. Termination and Suspension
        </h2>    
            
        <p>
        a. Termination by GenieSlides:<br>
        GenieSlides reserves the right to terminate or suspend your account at any time for any reason, including but not
        limited to, violation of these terms and conditions, illegal or fraudulent activity, or for any reason that we deem
        necessary to protect our service and users.
        </p>

        <p>
            b. Termination by User:<br>
            You may terminate your account with GenieSlides at any time by providing written notice to our customer support team.
            However, no refunds will be given for any remaining subscription period.
        </p>    

        <p>
            c. Suspension:<br>
            GenieSlides may suspend your account at any time for any reason, including but not limited to, violation of these terms
            and conditions, illegal or fraudulent activity, or for any reason that we deem necessary to protect our service and
            users. If your account is suspended, you will not be able to access your account or any of your content until the
            suspension is lifted.
        </p>

        <p>
            d. Account Termination:<br>
            We may terminate your account for any violation of these terms and conditions, including but not limited to:

            <br>
            • Attempting to hack, exploit, or reverse engineer our service
            <br>
            • Attempting to conduct a DDOS attack or any other form of cyber attack
            <br>
            • Attempting to create fake email accounts for the purpose of fraud or spamming
            <br>
            • Creating or uploading any content that is offensive, illegal, or infringes on any third-party rights
            <br>
            • Using our service for any illegal or fraudulent purpose
        </p>

        <p>
            In the event that we terminate your account, you will not be entitled to any refunds, and you may not create a new
            account without our express permission.
        </p>
        
        <p>
            By using our service, you acknowledge and agree to the terms and conditions set forth in this section. If you violate
            these terms, your account may be terminated or suspended without notice.
        </p>
        
        <h2>
            9. Amendments and updates
        </h2>

        <p>
            
            a. Amendments:<br>
            GenieSlides reserves the right to amend or modify these terms and conditions at any time, and any such amendments or
            modifications shall be effective immediately upon posting the updated terms on our website. We encourage you to
            periodically review these terms and conditions to ensure you are aware of any updates.
        
        </p>

        <p>
            b. Notification:<br>
            In the event of any material changes to these terms and conditions, we will notify you via email or through a notice on
            our website.
        
        </p>
        
        <p>
            c. Continuing Use:<br>
            Your continued use of our service after any amendments or modifications have been made to these terms and conditions
            constitutes your acceptance of the updated terms.
        </p>

        <p>
            d. Updates:<br>
            We may update or modify our service at any time, including but not limited to, adding or removing features,
            functionality, or content. We reserve the right to make any updates or modifications to our service without notice.
        </p>
        
        <p>
            e. Termination:<br>
            If you do not agree to any updates or modifications to these terms and conditions, you may terminate your account in
            accordance with section 18 of these terms and conditions.
        </p>

        <p>
            By using our service, you acknowledge and agree to the terms and conditions set forth in this section regarding
            amendments and updates.
        </p>

</body>
</html>